songs/WIP/Atahualpa Puchulu - Pa' el Jacinto/Audio (Pre-mix)/Atahualpa Puchulu - Pa' el Jacinto (Full band)-Acoustic_Bass.WAV
songs/WIP/Atahualpa Puchulu - Pa' el Jacinto/Audio (Pre-mix)/Atahualpa Puchulu - Pa' el Jacinto (Full band)-Baritone_Voice.WAV
songs/WIP/Atahualpa Puchulu - Pa' el Jacinto/Audio (Pre-mix)/Atahualpa Puchulu - Pa' el Jacinto (Full band)-Drumkit.WAV
songs/WIP/Atahualpa Puchulu - Pa' el Jacinto/Audio (Pre-mix)/Atahualpa Puchulu - Pa' el Jacinto (Full band)-Nylon_Guitar.WAV
songs/WIP/Atahualpa Puchulu - Pa' el Jacinto/Mid/Atahualpa Puchulu - Pa' el Jacinto (Full band)-Acoustic_Bass.mid
songs/WIP/Atahualpa Puchulu - Pa' el Jacinto/Mid/Atahualpa Puchulu - Pa' el Jacinto (Full band)-Baritone_Voice.mid
songs/WIP/Atahualpa Puchulu - Pa' el Jacinto/Mid/Atahualpa Puchulu - Pa' el Jacinto (Full band)-Drumkit.mid
songs/WIP/Atahualpa Puchulu - Pa' el Jacinto/Mid/Atahualpa Puchulu - Pa' el Jacinto (Full band)-Nylon_Guitar.mid
songs/WIP/Behold the Gates of Chaos/Audio (Pre-mix)/Behold the Gates of Chaos-Drumkit.WAV
songs/WIP/Behold the Gates of Chaos/Audio (Pre-mix)/Behold the Gates of Chaos-Drumkit_1.WAV
songs/WIP/Behold the Gates of Chaos/Audio (Pre-mix)/Behold the Gates of Chaos-Electric_Bass.WAV
songs/WIP/Behold the Gates of Chaos/Audio (Pre-mix)/Behold the Gates of Chaos-Electric_Guitar.WAV
songs/WIP/Behold the Gates of Chaos/Audio (Pre-mix)/Behold the Gates of Chaos-Electric_Guitar_1.WAV
songs/WIP/Behold the Gates of Chaos/Audio (Pre-mix)/Behold the Gates of Chaos-Electric_Guitar_2.WAV
songs/WIP/Behold the Gates of Chaos/Audio (Pre-mix)/Behold the Gates of Chaos-Synthesizer.WAV
songs/WIP/Behold the Gates of Chaos/Audio (Pre-mix)/Behold the Gates of Chaos-Synthesizer_1.WAV
songs/WIP/Behold the Gates of Chaos/Mid/Behold the Gates of Chaos-Drumkit.mid
songs/WIP/Behold the Gates of Chaos/Mid/Behold the Gates of Chaos-Drumkit_1.mid
songs/WIP/Behold the Gates of Chaos/Mid/Behold the Gates of Chaos-Electric_Bass.mid
songs/WIP/Behold the Gates of Chaos/Mid/Behold the Gates of Chaos-Electric_Guitar.mid
songs/WIP/Behold the Gates of Chaos/Mid/Behold the Gates of Chaos-Electric_Guitar_1.mid
songs/WIP/Behold the Gates of Chaos/Mid/Behold the Gates of Chaos-Electric_Guitar_2.mid
songs/WIP/Behold the Gates of Chaos/Mid/Behold the Gates of Chaos-Synthesizer.mid
songs/WIP/Behold the Gates of Chaos/Mid/Behold the Gates of Chaos-Synthesizer_1.mid
songs/WIP/Hell Unleashed/Audio (Pre-mix)/Hell Unleashed-Additional_Lead_Guitar.WAV
songs/WIP/Hell Unleashed/Audio (Pre-mix)/Hell Unleashed-Drumkit.WAV
songs/WIP/Hell Unleashed/Audio (Pre-mix)/Hell Unleashed-Electric_Bass.WAV
songs/WIP/Hell Unleashed/Audio (Pre-mix)/Hell Unleashed-Lead_Guitar_1.WAV
songs/WIP/Hell Unleashed/Audio (Pre-mix)/Hell Unleashed-Rhythm_Guitar.WAV
songs/WIP/Hell Unleashed/Mid/Hell Unleashed-Additional_Lead_Guitar.mid
songs/WIP/Hell Unleashed/Mid/Hell Unleashed-Drumkit.mid
songs/WIP/Hell Unleashed/Mid/Hell Unleashed-Electric_Bass.mid
songs/WIP/Hell Unleashed/Mid/Hell Unleashed-Lead_Guitar_1.mid
songs/WIP/Hell Unleashed/Mid/Hell Unleashed-Rhythm_Guitar.mid
songs/WIP/Mil Golpes - Peleas Callejeras/Audio (pre-mix)/Mil Golpes - Peleas callejeras (Chaton Punk)-Background_Vocals.WAV
songs/WIP/Mil Golpes - Peleas Callejeras/Audio (pre-mix)/Mil Golpes - Peleas callejeras (Chaton Punk)-Drums.WAV
songs/WIP/Mil Golpes - Peleas Callejeras/Audio (pre-mix)/Mil Golpes - Peleas callejeras (Chaton Punk)-Electric_Bass.WAV
songs/WIP/Mil Golpes - Peleas Callejeras/Audio (pre-mix)/Mil Golpes - Peleas callejeras (Chaton Punk)-Lead_Guitar.WAV
songs/WIP/Mil Golpes - Peleas Callejeras/Audio (pre-mix)/Mil Golpes - Peleas callejeras (Chaton Punk)-Lead_Vocals.WAV
songs/WIP/Mil Golpes - Peleas Callejeras/Audio (pre-mix)/Mil Golpes - Peleas callejeras (Chaton Punk)-Rhythm_Guitar.WAV
songs/WIP/Mil Golpes - Peleas Callejeras/Mid/Mil Golpes - Peleas callejeras (Chaton Punk)-Background_Vocals.mid
songs/WIP/Mil Golpes - Peleas Callejeras/Mid/Mil Golpes - Peleas callejeras (Chaton Punk)-Drums.mid
songs/WIP/Mil Golpes - Peleas Callejeras/Mid/Mil Golpes - Peleas callejeras (Chaton Punk)-Electric_Bass.mid
songs/WIP/Mil Golpes - Peleas Callejeras/Mid/Mil Golpes - Peleas callejeras (Chaton Punk)-Lead_Guitar.mid
songs/WIP/Mil Golpes - Peleas Callejeras/Mid/Mil Golpes - Peleas callejeras (Chaton Punk)-Lead_Vocals.mid
songs/WIP/Mil Golpes - Peleas Callejeras/Mid/Mil Golpes - Peleas callejeras (Chaton Punk)-Rhythm_Guitar.mid
songs/WIP/URPC - Carpe Diem/Audio (Pre-mix)/Una Razón Para Continuar - Carpe Diem-Backing_Vocals.WAV
songs/WIP/URPC - Carpe Diem/Audio (Pre-mix)/Una Razón Para Continuar - Carpe Diem-Clean_Guitar_1.WAV
songs/WIP/URPC - Carpe Diem/Audio (Pre-mix)/Una Razón Para Continuar - Carpe Diem-Clean_Guitar_2.WAV
songs/WIP/URPC - Carpe Diem/Audio (Pre-mix)/Una Razón Para Continuar - Carpe Diem-Drumkit.WAV
songs/WIP/URPC - Carpe Diem/Audio (Pre-mix)/Una Razón Para Continuar - Carpe Diem-Electric_Bass.WAV
songs/WIP/URPC - Carpe Diem/Audio (Pre-mix)/Una Razón Para Continuar - Carpe Diem-Electric_Guitar_1.WAV
songs/WIP/URPC - Carpe Diem/Audio (Pre-mix)/Una Razón Para Continuar - Carpe Diem-Electric_Guitar_2.WAV
songs/WIP/URPC - Carpe Diem/Audio (Pre-mix)/Una Razón Para Continuar - Carpe Diem-Lead_Vocals.WAV
songs/WIP/URPC - Carpe Diem/Mid/Una Razón Para Continuar - Carpe Diem-Backing_Vocals.mid
songs/WIP/URPC - Carpe Diem/Mid/Una Razón Para Continuar - Carpe Diem-Clean_Guitar_1.mid
songs/WIP/URPC - Carpe Diem/Mid/Una Razón Para Continuar - Carpe Diem-Clean_Guitar_2.mid
songs/WIP/URPC - Carpe Diem/Mid/Una Razón Para Continuar - Carpe Diem-Drumkit.mid
songs/WIP/URPC - Carpe Diem/Mid/Una Razón Para Continuar - Carpe Diem-Electric_Bass.mid
songs/WIP/URPC - Carpe Diem/Mid/Una Razón Para Continuar - Carpe Diem-Electric_Guitar_1.mid
songs/WIP/URPC - Carpe Diem/Mid/Una Razón Para Continuar - Carpe Diem-Electric_Guitar_2.mid
songs/WIP/URPC - Carpe Diem/Mid/Una Razón Para Continuar - Carpe Diem-Lead_Vocals.mid
songs/WIP/URPC - Rayando el cemento/Audio (Pre-mix)/Una Razón Para Continuar - Rayando el cemento-Choirs.WAV
songs/WIP/URPC - Rayando el cemento/Audio (Pre-mix)/Una Razón Para Continuar - Rayando el cemento-Drumkit.WAV
songs/WIP/URPC - Rayando el cemento/Audio (Pre-mix)/Una Razón Para Continuar - Rayando el cemento-Electric_Bass.WAV
songs/WIP/URPC - Rayando el cemento/Audio (Pre-mix)/Una Razón Para Continuar - Rayando el cemento-Electric_Guitar_1.WAV
songs/WIP/URPC - Rayando el cemento/Audio (Pre-mix)/Una Razón Para Continuar - Rayando el cemento-Electric_Guitar_2.WAV
songs/WIP/URPC - Rayando el cemento/Audio (Pre-mix)/Una Razón Para Continuar - Rayando el cemento-Lead_Voice.WAV
songs/WIP/URPC - Rayando el cemento/Mid/Una Razón Para Continuar - Rayando el cemento-Choirs.mid
songs/WIP/URPC - Rayando el cemento/Mid/Una Razón Para Continuar - Rayando el cemento-Drumkit.mid
songs/WIP/URPC - Rayando el cemento/Mid/Una Razón Para Continuar - Rayando el cemento-Electric_Bass.mid
songs/WIP/URPC - Rayando el cemento/Mid/Una Razón Para Continuar - Rayando el cemento-Electric_Guitar_1.mid
songs/WIP/URPC - Rayando el cemento/Mid/Una Razón Para Continuar - Rayando el cemento-Electric_Guitar_2.mid
songs/WIP/URPC - Rayando el cemento/Mid/Una Razón Para Continuar - Rayando el cemento-Lead_Voice.mid
songs/WIP/URPC - Si los árboles hablaran/Audio (Pre-mix)/Una Razón Para Continuar - Si los arboles hablaran-Choirs_Gutturals.WAV
songs/WIP/URPC - Si los árboles hablaran/Audio (Pre-mix)/Una Razón Para Continuar - Si los arboles hablaran-Clean_Guitar_(Lead).WAV
songs/WIP/URPC - Si los árboles hablaran/Audio (Pre-mix)/Una Razón Para Continuar - Si los arboles hablaran-Clean_Guitar_(Rhythm).WAV
songs/WIP/URPC - Si los árboles hablaran/Audio (Pre-mix)/Una Razón Para Continuar - Si los arboles hablaran-Drumkit.WAV
songs/WIP/URPC - Si los árboles hablaran/Audio (Pre-mix)/Una Razón Para Continuar - Si los arboles hablaran-Electric_Bass.WAV
songs/WIP/URPC - Si los árboles hablaran/Audio (Pre-mix)/Una Razón Para Continuar - Si los arboles hablaran-Guitar_(Lead).WAV
songs/WIP/URPC - Si los árboles hablaran/Audio (Pre-mix)/Una Razón Para Continuar - Si los arboles hablaran-Guitar_(Rhythm).WAV
songs/WIP/URPC - Si los árboles hablaran/Audio (Pre-mix)/Una Razón Para Continuar - Si los arboles hablaran-Lead_Singer.WAV
songs/WIP/URPC - Si los árboles hablaran/Mid/Una Razón Para Continuar - Si los arboles hablaran-Choirs_Gutturals.mid
songs/WIP/URPC - Si los árboles hablaran/Mid/Una Razón Para Continuar - Si los arboles hablaran-Clean_Guitar_(Lead).mid
songs/WIP/URPC - Si los árboles hablaran/Mid/Una Razón Para Continuar - Si los arboles hablaran-Clean_Guitar_(Rhythm).mid
songs/WIP/URPC - Si los árboles hablaran/Mid/Una Razón Para Continuar - Si los arboles hablaran-Drumkit.mid
songs/WIP/URPC - Si los árboles hablaran/Mid/Una Razón Para Continuar - Si los arboles hablaran-Electric_Bass.mid
songs/WIP/URPC - Si los árboles hablaran/Mid/Una Razón Para Continuar - Si los arboles hablaran-Guitar_(Lead).mid
songs/WIP/URPC - Si los árboles hablaran/Mid/Una Razón Para Continuar - Si los arboles hablaran-Guitar_(Rhythm).mid
songs/WIP/URPC - Si los árboles hablaran/Mid/Una Razón Para Continuar - Si los arboles hablaran-Lead_Singer.mid
*.WAV
*.mid
